{% extends "_layouts/govuk-pay.html" %}

{% set section = "buyers" %}

{% block content %}

<main id="content" class="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="index.html">Digital Marketplace</a>
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Find people and technology <br>for digital projects</h1>
    </div>
  </div>        

  <div class="grid-row" style="font-weight: bold;">

    <div class="column-two-thirds">
      <br>
      <details>
        <summary><span class="summary">Get help choosing how to buy</span></summary>
        <div class="panel panel-border-narrow">
          <p>
            Ask the buying community on <a href="https://ukgovernmentdigital.slack.com/messages/buying-things">Slack</a> #buying-things.
          </p>
          <p>
            Check wether your department has a dedicated commissioning team.
          </p>
          <p>Contact <a href="">cloud_digital@crowncommercial.gov.uk</a>.</p>
        </div>
      </details>
    </div>

    <div class="column-one-half">  
      <h2 class="heading-medium">Find people</h1>
      <ul>
        <li>
          <a href="overview?stage=not-started">An individual specialist</a>
          <p class="">For example, a developer or user researcher</p>
        </li>
        <li>
          <a href="">A team to provide an outcome</a>
          <p class="">For example, a booking system or accessibility audit</p>
        </li>
        <li>
          <a href="">User research participants</a>
          <p class="">For example, people from a specific user group to test your service</p>
        </li>
      </ul>
    </div>
    
    <div class="column-one-half">  
      <h2 class="heading-medium">Find technology</h1>
      <ul>
        <li>
          <a href="">Cloud hosting, software and support</a>
          <p class="">For example, content delivery networks or accounting software</p>
        </li>
        <li>
          <a href="">User research lab</a>
          <p class="">For example, a room to conduct research sessions</p>
        </li>
        <li>
          <a href="https://www.digitalmarketplace.service.gov.uk/crown-hosting">Physical datacentre space</a>
          <p class="">For example, access to mission-critical datacentres</p>
        </li>
      </ul>
    </div>

    <div class="column-two-thirds">
      <br>
      <a href="find-frameworks">Find other ways to buy</a>
    </div>



  </div> 

</main>

{% endblock %}