{% extends "_layouts/govuk-pay.html" %}

{% block page_title %}
    Digital Marketplace
{% endblock %}


{% block content %}


<main id="content" role="main" class="">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Find people and technology on the Digital Marketplace 
      </h1>

      <p>All public sector organisations can use the Digital Marketplace to find people and technology for digital projects.</p>
    
      <p>You can find:
        <ul class="list-bullet">
          <li>cloud hosting, software and support, for example content delivery networks or accounting software</li>
          <li>physical datacentre space for legacy systems</li>
          <li>digital specialists, for example developers and content designers</li>
          <li>digital outcomes, for example a booking system beta or an accessibility audit</li>
          <li>user research participants and labs</li>
        </ul>
      </p>

      <div class="panel panel-border-wide">
        <p>Suppliers on the Digital Marketplace are already on either the G-Cloud, Digital Outcomes and Specialists or Crown Hosting Data Centres framework.</p>
      </div>

      <a href="buyers" rel="external" class="button" role="button">
        Start now
      </a><br>
      <span class="hint"> on the Digital Marketplace</span>


      <h2 class="heading-medium">Before you start</h2>
      <p>The buying process differs according to which agreement between government and supplier (framework) you’re using.</p>

      <p>Buying services through frameworks is faster and cheaper than entering into individual procurement contracts.</p>

      <p>Find out how to:
        <ul class="list-bullet">
          <li><a href="/government/collections/digital-marketplace-buyers-and-suppliers-information">buy through the Digital Marketplace</a></li>
          <li><a href="/service-manual/making-software/choosing-technology.html">choose the right technology for your project</a></li>
        </ul>
      </p>
    </div>
  </div>

</main>

{% endblock %}
