{% extends "_layouts/govuk-pay.html" %}

{% set section = "index" %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-two-thirds">

        <h1 class="heading-xlarge" style="margin-top: 80px">
          Buy and sell digital services for the public sector
        </h1>

      </div>

    </div>
  </div>-
</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-one-half">
      <h2 class="heading-medium" id="3">Buyers</h2>
      <!-- <p>Find people and technology for your <br>digital projects</p> -->
      <p><a href="/govuk-digital-marketplace/buyers" style="font-weight: bold;">Find people and technology <br>for digital projects</a></p>
    </div>

    <div class="column-one-half">
      <h2 class="heading-medium" id="3">Suppliers</h2>
      <!-- <p>Sell your services through <br>the marketplace</p> -->

      <div style="width: 100%; margin-bottom: 5px">
        <ul>
          
          <li style="margin-bottom: 15px;"><a href="https://www.digitalmarketplace.service.gov.uk/digital-outcomes-and-specialists/opportunities" style="padding-bottom: 15px; font-weight: bold;" >View Digital Outcomes and Specialists<br> opportunities</a></li>
          <li><a href="https://www.digitalmarketplace.service.gov.uk/suppliers/supply" style="padding-bottom: 15px; font-weight: bold;" >Become a supplier</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="grid-row">

    <div class="column-full">
      <div class="section-border-top">
      </div>
    </div>
<!-- 
    <div class="column-two-thirds">
      <h2 class="heading-medium">Use the marketplace to deliver great digital services</h2>

      <p class="">Buyers don't need to understand complex procurement processes to use the marketplace. And buyers have access to the latest technology as suppliers can offer new services every 9 to 12 months.</p>

      <p class="">Small suppliers can compete with big suppliers because it’s easier to apply to work with government.</p>

      <p class="">The Digital Marketplace is fair, open and transparent. That means:</p>
      <ul class="list-bullet" style="margin-top: -20px">
        <li>buyers have to treat all suppliers in the same way</li>
        <li>all suppliers have to have access to the same information</li>
        <li>buyers can’t show any bias towards a particular supplier</li>
      </ul>
    </div>
  </div>
  <div class="grid-row">

    <div class="column-full">
      <div class="section-border-top">
      </div>
    </div>

    <br><br><br>
    <div class="column-one-quarter">
      <p><span class="heading-large">212</span><br>organisations<br><a href="">View list of buyers</a></p>
    </div>
    <div class="column-one-quarter">
      <p><span class="heading-large">5k</span><br>open opportunities<br><a href="https://www.digitalmarketplace.service.gov.uk/digital-outcomes-and-specialists/opportunities">View opportunities</a></p>
    </div>

    <div class="column-one-quarter">
      <p><span class="heading-large">10k</span><br>suppliers<br><a href="">View list of suppliers</a></p>
    </div>

    <div class="column-one-quarter">
      <p><span class="heading-large">55k</span><br>services offered</p>
    </div>

    <div class="column-full">
      <div class="section-border-top">
      </div>
    </div>

    <div class="column-full" style="margin-bottom: 15px">
      <h2 class="heading-medium" id="3">Who's using the Digital Marketplace</h2>
      <img src="/public/images/logos.png">
      <br>
      <p>See the <a href="">list of buyers</a> on the Digital Marketplace</p>
    </div>

    <div class="column-full">
      <div class="section-border-top">
      </div>
    </div>

    <div class="grid-row">
      <div class="column-one-half">
        <h2 class="heading-medium" id="5">Digital Marketplace blog</h2>
          <p>Find out the latest news on the <a href="https://digitalmarketplace.blog.gov.uk/">Digital Marketplace blog</a></p>

          <p>The Digital Marketplace is built and supported by a full-time team at GDS.</p>

          <p>Get help on the <a href="https://ukgovernmentdigital.slack.com/archives/buying-things">#buying-things</a> channel on <a href="http://ukgovernmentdigital.slack.com">UK Government Digital Slack</a>. </p>
      </div>
      <div class="column-one-half">
        <div class="team-image">
          <img src="/public/images/notify-team.jpg">
        </div>
      </div> -->
    </div>

</main>

{% endblock %}