{% extends "_layouts/govuk-pay.html" %}

{% set section = "buyers" %}

{% block content %}

<main id="content" class="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="index.html">Digital Marketplace</a>
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Your title
      </h1>

      <ol class="task-list">
        <li class="stage">
          <h2 class="heading-medium">Before you start</h2>
          <p>
            You can talk to suppliers to prepare your requirements.<br>
            <a href="">Download list of suppliers.</a>
          </p>
          <p>
            You'll need to get budget approval.
          </p>
        </li>
        <li class="stage">
          <h2 class="heading-medium">Write requirements</h2>
          <ul>
            <li><a href="">Title</a></li>
            <li><a href="">Location</a></li>
            <li><a href="">Description of work</a></li>
          </ul>
        </li>
        <li class="stage">
          <h2 class="heading-medium">Set how you’ll evaluate suppliers</h2>
        </li>
        <li class="stage">
          <h2 class="heading-medium">Publish requirements</h2>
          <p class="">This information will be published on the Digital Marketplace so suppliers can apply for the work, anyone can see it.</p>
        </li>
        <li class="stage">
          <h2 class="heading-medium">Answer supplier questions</h2>
          <p class="">Post all supplier questions and answers on the Digital Marketplace.</p>
        </li>
        <li class="stage">
          <h2 class="heading-medium">Shortlist</h2>
        </li>
        <li class="stage">
          <h2 class="heading-medium">Evaluate</h2>
        </li>
        <li class="stage">
          <h2 class="heading-medium">Award a contract</h2>
        </li>
      </ol>
    </div>
  </div>

</main>

{% endblock %}