{% extends "_layouts/govuk-pay.html" %}

{% set section = "buyers" %}

{% block content %}

<main id="content" class="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="index.html">Digital Marketplace</a>
      </li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Find an individual specialist</h1>
      <br>
      <p>
        You can use the Digital Marketplace to find a specialist, such as a developer or a user researcher, for a specific piece of work.
      </p>
      <p>
        The specialist can’t work for you outside the scope of your written requirements.
      </p>
      <p>
        The buying process should take around 4 weeks.
      </p>

      <ol class="task-list">
        <li>
          <h2 class="heading-medium">Before you start</h2>
          <p>
            You can talk to suppliers to prepare your requirements.<br>
            <a href="">Download list of suppliers.</a>
          </p>
          <p>
            You'll need to get budget approval.
          </p>
        </li>
        <li>
          <h2 class="heading-medium">Write requirements</h2>
          <button class="button">Write requirements</button>
        </li>
        <li>
          <h2 class="heading-medium">Set how you’ll evaluate suppliers</h2>
        </li>
        <li>
          <h2 class="heading-medium">Publish requirements</h2>
          <p class="">This information will be published on the Digital Marketplace so suppliers can apply for the work, anyone can see it.</p>
        </li>
        <li>
          <h2 class="heading-medium">Answer supplier questions</h2>
          <p class="">Post all supplier questions and answers on the Digital Marketplace.</p>
        </li>
        <li>
          <h2 class="heading-medium">Shortlist</h2>
        </li>
        <li>
          <h2 class="heading-medium">Evaluate</h2>
        </li>
        <li>
          <h2 class="heading-medium">Award a contract</h2>
        </li>
      </ol>
    </div>
  </div>

</main>

{% endblock %}