{% extends "_layouts/govuk-pay.html" %}

{% set section = "support" %}

{% block content %}

<main id="content" class="content" role="main">



<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      What do you need help with?
    </h1>

    <h2 class="heading-medium">Selling services</h2>
    <p>
      For support selling your services, for example, updating your prices, email:
      <a href="mailto:cloud_digital@crowncommercial.gov.uk">cloud_digital@crowncommercial.gov.uk</a>
    </p>

    <h2 class="heading-medium">Buying services</h2>
    <details>
      <summary><span class="summary">Get help choosing how to buy</span></summary>
      <div class="panel panel-border-narrow">
        <p>
          Ask the buying community on <a href="https://ukgovernmentdigital.slack.com/messages/buying-things">Slack</a> #buying-things.
        </p>
        <p>
          Check wether your department has a dedicated commissioning team.
        </p>
        <p>Contact <a href="">cloud_digital@crowncommercial.gov.uk</a>.</p>
      </div>
    </details>

    <p>
      For support buying services, for example, evaluating suppliers, email:
      <a href="mailto:cloud_digital@crowncommercial.gov.uk">cloud_digital@crowncommercial.gov.uk</a>
    </p>

    <h2 class="heading-medium">Creating and updating an account</h2>
    <p>
      To make changes to your user account, for example, if you have trouble logging in, email:
      <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a>
    </p>
  </div>
</div>        


</main>

{% endblock %}