{% extends "_layouts/govuk-pay.html" %}

{% block page_title %}
    Digital Marketplace
{% endblock %}


{% block content %}

{% set any_open = "false" %}
{% set any_closed = "false" %}

{% for framework in frameworks %}
  {% if framework.framework in coming_open %}
    {% set any_open = "true" %}
  {% endif %}
{% endfor %} 

{% for framework in frameworks %}
  {% if framework.framework in pending_closed %}
    {% set any_closed = "true" %}
  {% endif %}
{% endfor %} 



<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-large">Become a supplier</h1>
    <div class="dmspeak">
      <h2 class="heading-medium">Services you can apply to sell</h2>
        <div class="padding-bottom-small">
          <div class="explanation-list">
            Digital Outcomes and Specialists is open for applications.<br>You can apply to sell:
            <ul class="list-bullet">
              <li>digital outcomes, for example a team to build a service</li>
              <li>digital specialists, for example an individual developer or user researcher</li>
              <li>user research studios</li>
              <li>user research participants</li>
            </ul>
          </div>
        </div>
        <br>
        <div>
          <div class="explanation-list">
            G-Cloud is open for applications.<br>You can apply to sell:
            <ul class="list-bullet">
              <li>cloud hosting</li>
              <li>software</li>
              <li>technical support</li>
            </ul>
          </div>  
        </div>
        <br>
        <div class="secondary-action-link">
          <a href="/suppliers/create">Create a supplier account</a>
        </div>   
      </div>
    </div>
  </div>

</main>

{% endblock %}


