{% extends "_layouts/govuk-pay.html" %}

{% block page_title %}
    Digital Marketplace
{% endblock %}


{% block content %}


<main id="content" class="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="index.html">Digital Marketplace</a>
      </li>
    </ol>
  </div> 

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        What do you want to call your requirements
      </h1>
      <p class="">This will help you refer to your requirements when talking to suppliers.</p>
      <form autocomplete="off" action="/govuk-digital-marketplace/overview" method="POST">
        <div class="form-group">
          <p class="hint">100 characters maximum</p>
          <input class="form-control" id="email" name="email" type="text">
        </div>
        <a href="overview_started" class="button">Save and continue</a>
      </form>

  </div> 

</main>
    

{% endblock %}
