{% extends "_layouts/layout.html" %}

{% block header_class %}{% endblock %}

{% block page_title %}
  GOV.UK product page prototypes
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Find and navigate prototype
      </h1>

      <ul class="list">
        
        <li class="mb_20">
          <a href="/govuk-digital-marketplace">Digital Marketplace</a>
        </li> 
        <li class="mb_20">
          <a href="/govuk-digital-marketplace/buying-start">GOV.UK start page – Buyers</a>
        </li> 
        <li class="mb_20">
          <a href="/govuk-digital-marketplace/selling-start">GOV.UK start page – Suppliers</a>
        </li>  
      </ul>

    </div>
  </div>
</main>

{% endblock %}


